
.greeting-page-wrap{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.home-page-wrap{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrival-details{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
